@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes color-change {
  0% { color: red; }
  15% { color: aqua; }
  25% { color: blue; }
  15% { color: darkkhaki; }
  50% { color: orange; }
  60% { color: green; }
  70% { color: purple; }
  80% { color: pink; }
  90% { color: yellow; }
  100% { color: red; }
}

.text-color-change {
  animation: color-change 1s infinite;
}
